[submodule "Externals/PivotalCoreKit"]
	path = Externals/PivotalCoreKit
	url = git://github.com/mopub/PivotalCoreKit.git
[submodule "Externals/KIF"]
	path = Externals/KIF
	url = https://github.com/square/KIF.git
